.label.title {
    -fx-font-family: "Avenir Medium";
    -fx-font-size: 20pt;
    -fx-text-fill: white;
}

.button {
    -fx-font-size: 10pt;
    -fx-font-family: "Avenir Medium";
    -fx-background-radius: 10;
}

.background {
    -fx-background-color: #474747;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Avenir Medium";
    -fx-text-fill: white;
}

.grid-cell {
    -fx-background-color: #26547c ;
    -fx-border-color: #19647e;
    -fx-border-width: 0 0 1px 0;
}

.rectangle {
    -fx-border-color: white;
    -fx-border-width: 0.25px;
    -fx-background-color: rgba(46, 192, 155, 0.5);


}

#componentContent {
    -fx-border-color: white;
    margin-left: 10px;
    margin-right: 10px;
}


.top-grid-first {
    -fx-border-color: darkgray;
    -fx-border-width: 0 1px 1px 1px;
}

.top-grid {
    -fx-border-color: darkgray;
    -fx-border-width: 0 1px 1px 0;
}

.left-grid-first {
    -fx-border-color: darkgray;
    -fx-border-width: 1px 1px 1px 0;
}

.left-grid {
    -fx-border-color: darkgray;
    -fx-border-width: 0px 1px 1px 0;
}

.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.cards {
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10,0,0,0);
}

.statsPane {
    -fx-background-radius: 10px;
}

#stats1 {
    -fx-background-color: #19647e;
}

#stats2 {
    -fx-background-color: #20547c;
}

#stats3 {
    -fx-background-color: #30125c;
}

#stats4 {
    -fx-background-color: #42245c;
}

#stats5 {
    -fx-background-color: #57245c;
}

.statsValues {
    -fx-font-size: 20px;
}




