.title {
    -fx-font-family: "Avenir Medium";
    -fx-font-size: 20pt;
    -fx-text-fill: white;
}

.button {
   -fx-font-size: 10pt;
   -fx-font-family: "Avenir Medium";
   -fx-background-radius: 10;
}

.background {
   -fx-background-color: #474747;
}
